body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100% !important;
    z-index: 0;
}
h1{
  color:white;
}
div.img{
  height:10px;
}
